/*
nav {
  background-color: white;
  color: darkgray;
  height: 65px;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
*/

nav {
  background-color: white;
  color: darkgray;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
}

nav a {
  color: darkgray;
  text-decoration: none;
}
